html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #7c8589;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

#new_event {
  text-align: center;
  margin: 0;
}

.no-display {
  display: none;
  margin: 0;
  padding: 0;
}

button.primary_button {
  border-color: #a5e091;
  background-color: #a5e091;
  color:#4a4a4a;
}

button.primary_button.btn.btn-primary:hover {
  border-color: #5aa83f;
  background-color: #5aa83f;
  color:white;
}

button.primary_button.btn.btn-primary:active {
  border-color: #5aa83f;
  background-color: #5aa83f;
  color:white;
}

div.dropdowns-search {
  text-align: left;
}

div.ui.fluid.dropdown {
  display: inline;
  min-width: 20em;
  vertical-align: middle;
  padding: 0.5em;
}

div.ui.multiple.search.dropdown>.text {
  padding: 0;
}

div.ui.multiple.search.dropdown>input.search {
  min-width: 10em;
}

div.ui.multiple.dropdown>.label {
  vertical-align: middle;
}
