div#page-event {
    margin:  1em 4em 2em 4em;
    padding: 1em 1em;
    background: white;
}

li.breadcrumb-item a {
    font-weight: 600;
    color: white;
    text-decoration: underline;
}

li.breadcrumb-item a:hover {
    color: #455a64;
}

li.breadcrumb-item+.breadcrumb-item::before {
    color: #455a64;
}

li.breadcrumb-item.active {
    color: white;
}

div.row.event-page-header{
    margin: 2em 0;
}

div.event-title {
    padding-left: 2em;
}

div.event-title h2{
    text-align: left;
}

div.event-page-buttons {
    padding: 0 3em 0 0;
    text-align: right;
}

div.row.event-page-body {
    margin: 2em 0;
    padding: 0 2em;
}

div.row.event-page-body > div:first-of-type {
    text-align: left;
}

img.event-image {
    margin: 1em auto 1em 0;
    max-width: 100%;
    max-height: 300px;
}

p.event-description {
    margin: 1em 0;
    white-space: pre-wrap;
    text-align: justify;
}

span.category-span {
    background-color: #4a4a4a;
    border-radius: 10px;
    color: white;
    padding: 0.5em;
    margin: 0 0.5em;
}

div.row.event-page-info {
    margin: 2em 0;
    text-align: left;
}

div.row.event-page-info > div:first-of-type{
    padding-left: 4em;
}

div.row.event-page-info div div {
    margin: 1em 0;
}


div.div-border {
    border-right: 1px solid black;
}



h4.display-inline {
    display: inline;
}

button.btn {
    background-color: inherit;
    border-color: inherit;
    color: #4a4a4a;
}

.btn.btn-link.btn-primary {
    color: #4a4a4a;
    border-color: inherit;
}

.btn.btn-primary:hover {
    background-color: #4a4a4a;
    color: white;
}

div.event-page-button-map a {
    transform-origin: center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 35px;
    width: 120px;
    margin: auto auto;
}

div.loading {
    transform-origin: center center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 45%;
    width: 120px;
    height: 120px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #32a794; /* Blue */
    border-radius: 50%;
    transform-origin: center center;
    height: 100%;
    width: 100%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}