div#page-event {
    margin: 4em;
    padding: 1em 1em;
    background: white;
}

div.row.event-page-header{
    margin: 2em 0;
}

div.event-title {
    padding-left: 2em;
}

div.event-title h2{
    text-align: left;
}

div.event-page-buttons {
    padding: 0 3em 0 0;
    text-align: right;
}

div.row.event-page-body {
    margin: 2em 0;
    padding: 0 2em;
}

img.event-image {
    margin: 1em auto;
    text-align: center;
    max-width: 100%;
    max-height: 300px;
}

p.event-description {
    margin: 1em 0;
    white-space: pre-wrap;
    text-align: justify;
}

div.row.event-page-info {
    margin: 2em 0;
}

div.row.event-page-info div div {
    margin: 1em 0;
}

h4.display-inline {
    display: inline;
}

button.btn {
    background-color: inherit;
    border-color: inherit;
    color: #4a4a4a;
}

div.event-page-button-map a {
    transform-origin: center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 35px;
    width: 120px;
    margin: auto auto;
}

div.loading {
    transform-origin: center center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 45%;
    width: 120px;
    height: 120px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #32a794; /* Blue */
    border-radius: 50%;
    transform-origin: center center;
    height: 100%;
    width: 100%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}