#list_events {
    margin: 2em 0;
    font-family: 'Open Sans', sans-serif;
}

#list_events h1 {
    color: white;
}

div#list_events div.row:first-of-type {
    margin-top: 2em;
}

div.form-group {
    text-align: left;
    margin: 0 0 0 3em;
    display: flex;
}

input[type="text"].form-control#search-text-input{
    width: 100%;
    display: inline;
    vertical-align: middle;
}

button#create-event {
    background-color: #455a64;
    border-color: #455a64;
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

button.btn-search {
    display: inline;
    background-color: inherit;
    color: black;
    border-color: #6c757d;
    margin-right: 1em;
}

div.row {
    width: 100%;
}

div.dropdowns-search > * {
    display: inline-block;
    width: 50%;
}

.btn.btn-link {
    color: #4a4a4a;
}