img#logo {
    max-height: 45px;
}

nav#navbar-custom {
    background-color: #455a64;
    display: flex;
    justify-content: space-between;
}

nav.navbar-light a.navbar-brand {
    text-transform: uppercase;
    color: white;
    flex-grow: 5;
    text-align: left;
}

nav div.navbar-collapse {
    width: auto;
    flex-grow: 6;
    display: flex;
    justify-content: space-between;
}


nav.navbar-light span.navbar-text {
    color: white;
    font-size: 22px;
}

nav button.btn.btn-primary {
    background-color: inherit;
    border-color: #32a794;
    font-size: 20px;
    font-weight: 200;
}

button#logout-button {
    color: white;
    border: 0;
}

nav.navbar {
    margin-bottom: 0;
}
